body {
  font-family: sans-serif;
  background: #f5f5f5;
  color: #333;
  padding: 2rem;
}

header {
  background: #d6d6ff;
  padding: 2rem;
  border-radius: 8px;
}

.projetos {
  margin-top: 2rem;
}

.projeto {
  background: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
